html {
    background: white;
    display: flex;
  }
  
  body {
    width: 100vmin;
    height: 100vmin;
    margin: auto;
    border: 1px solid black;
    box-sizing: border-box;
    background: repeating-linear-gradient(90deg, white, white 12.5%, black 12.5%, black 25%);
  }
  
  div {
    height: 100%;
    width: 100%;
    background: repeating-linear-gradient(0deg, black, black 12.5%, white 12.5%, white 25%);
    mix-blend-mode: difference;
  }